
.nav-item  {
    list-style: none;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item  a{
	width:100%;
    height:100%;
    text-decoration:none;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:rgb(150, 150, 150);
}

.nav-item  a:hover{
    border: 2px solid #1b7fff;
    color:#1b7fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}