body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    height: 50px;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    height: 100%;
    padding: 0px;
    width: 100px;
}


.left-nav{
    display: flex;
    flex-direction: row;
    height: inherit;
    align-items: center;
    height:inherit;
}


.right-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100px;
}