body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-icon-wrapper{
    display:flex;
}

.google-icon-wrapper img{
    margin:0px auto;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    height: 40px;
    border: 1px solid #00000096;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0px;
}

.search-container  input {
    border:0px;
    height: 100%;
    outline: none;
    flex-grow:20;
    font-size: 20px;
    padding: 10px;
}
.search-mic{
    flex-grow:1;
    height: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1b7fff;
    height: 100%;
    cursor: pointer;
}




/* NAV */

.result-header{
    padding:10px 10px 0px 10px;
    box-shadow: -1px 1px 20px 0px #949292;
}


.result-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.tabs{
    display:flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}

.result-img{
    width: 113px;
    height: 39px;
}


.card-container {
    box-shadow: 1px 1px 5px 2px #949292;
    margin: 11px 3px;
    padding: 10px;
    border-radius: 10px;
}

.result-link{
        display: block;
        font-size: 14px;
        color: lightgray;
        margin: 10px 0px;
        
}

.result-title{
    display: block;
    font-size: 21px;
    text-decoration: none;
}

.description-container{
    display: block;
    font-size: 14px;
    color: lightgray;
    margin: 10px 0px;
}   
.description{
    color:black;
}

.date{
    padding-right:5px;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .search-mic{
        flex-grow: 100;
    }
    .search-button{
        width:50px;
    }
    .google-icon-wrapper img {
        width: 200px;
        height: 70px;
    }
    .tabs{
        width:100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .search-button{
        flex-grow:3;
        width:0px;
    }
}
@media only screen and (min-width: 768px){ 

    .result-header {
        box-shadow: none;
    }
    
    .search-button{
        width:80px;
    } 

    .search-container {
        width: 800px;
        margin: 0px auto;
    }
    
    .card-container{
        width: 500px;
        box-shadow: -20px -2px 0px 0px #ffffff;
        margin: -13px 3px;
    }
}