body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-icon-wrapper{
    display:flex;
}

.google-icon-wrapper img{
    margin:0px auto;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    height: 50px;
    border: 1px solid #00000096;
    border-radius: 20px;
    overflow: hidden;
}

.search-container  input {
    border:0px;
    height: 100%;
    outline: none;
    flex-grow:20;
    font-size: 20px;
    padding: 10px;
}
.search-mic{
    flex-grow:1;
    height: 100%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1b7fff;
    height: 100%;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .search-mic{
        flex-grow: 100;
    }
    .search-button{
        width:50px;
    }
    .google-icon-wrapper img {
        width: 200px;
        height: 70px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .search-button{
        flex-grow:3;
        width:0px;
    }
}
@media only screen and (min-width: 992px){ 
    
    .search-button{
        width:80px;
    } 

    .search-container {
        width: 800px;
        margin: 0px auto;
    }

}


/* NAV */

.result-nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.tabs{
    display:flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
}